<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3 style="margin-top: 30px">Fill the form to create new place</h3>
    <form
      method="post"
      action="/listings"
      enctype="application/x-www-form-urlencoded"
      novalidate
      class="needs-validation"
    >
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          placeholder="title"
          name="listing[title]"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good!</div>
        <div class="invalid-feedback">please enter the title</div>
        <br />
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          placeholder="description"
          name="listing[description]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Perfect!</div>
        <div class="invalid-feedback">please enter the Description</div>
        <br />
      </div>
      <div>
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          placeholder="enter image URL / Link"
          name="listing[image][url]"
          class="form-control"
          required
        />
        <div class="valid-feedback">looks good!</div>
        <div class="invalid-feedback">please enter the valid URL</div>
        <br />
      </div>
      <div>
        <label for="price" class="form-label">Price</label>
        <input
          
          placeholder="price"
          name="listing[price]"
          class="form-control"
          required
        />
        <div class="valid-feedback">Right!</div>
        <div class="invalid-feedback">please enter the Price</div>
        <br />
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="valid-feedback">looks good!</div>
          <div class="invalid-feedback">please enter the location</div>
          <br />
        </div>
        <div class="col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            placeholder="country"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="valid-feedback">looks good!</div>
          <div class="invalid-feedback">please enter the country</div>
          <br />
        </div>
      </div>
      <button class="addbtnNew">Add</button> <br /><br />
    </form>
  </div>
</div>
